.row {
	display: flex;
	flex-direction: row;
}

.calendars-container {
	display: flex;
	flex-direction: row;
	background-color: #404040;
	margin-right: 5px;
	border-radius: 10px;
	padding: 10px;
}

.calendar-container {
	background-color: #202020;
	border-radius: 10px;
	margin-right: 5px;
	padding: 10px;
}

.events-container {
	background-color: #202020;
	border-radius: 10px;
	margin-left: 5px;
	padding: 10px;
}

.calendar-table {
	border-collapse: collapse;
}

.calendar-table th, td {
	width: 14.29%;
}

.calendar-table th {
	padding: 10px;
}

.calendar-table td {
	font-family: "Consolas", monospace;
	text-align: center;
}

.calendar-table div {
	padding: 10px;
}

.calendar-table th {
	border-bottom: 1px solid #ff4000;
}

.calendar-month-and-year {
	font-size: 1.25em;
}

.calendar-today {
	background-color: #ff4000;
	font-weight: bold;
	border-radius: 10px;
}

.calendar-other {
	font-style: italic;
	color: #404040;
}

.clocks-container {
	background-color: #404040;
	margin-left: 5px;
	border-radius: 10px;
	padding: 10px;
}