.row {
	display: flex;
	flex-direction: row;
}

.calendars-container {
	display: flex;
	flex-direction: row;
	background-color: #404040;
	margin-right: 5px;
	border-radius: 10px;
	padding: 10px;
}

.calendar-container {
	background-color: #202020;
	border-radius: 10px;
	margin-right: 5px;
	padding: 10px;
}

.events-container {
	background-color: #202020;
	border-radius: 10px;
	margin-left: 5px;
	padding: 10px;
}

.calendar-table {
	border-collapse: collapse;
}

.calendar-table th {
	width: 14.29%;
	padding: 10px;
}

.calendar-table td {
	font-family: "Consolas", monospace;
	text-align: center;
	width: 14.29%;
	padding: 10px;
}

.calendar-table th {
	border-bottom: 1px solid #404040;
}

.calendar-month-and-year {
	font-size: 1.25em;
}

.calendar-today {
	background-color: #ff4000;
	font-weight: bold;
	border-radius: 10px;
}

.calendar-other {
	font-style: italic;
	color: #404040;
}

.clocks-container {
	background-color: #404040;
	margin-left: 5px;
	border-radius: 10px;
	padding: 10px;
	display: flex;
	flex-direction: row;
}

.analog-clocks-container {
	background-color: #202020;
	border-radius: 10px;
	margin-right: 5px;
	padding: 10px;
}

.world-clocks-container {
	background-color: #202020;
	border-radius: 10px;
	margin-left: 5px;
	padding: 10px;
}

.world-clocks-table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.world-clocks-table tr {
	padding: 10px;
}

.world-clocks-table div {
	display: flex;
	flex-direction: row;
}

.world-clocks-table span {
	text-align: center;
}

.world-clock-city {
	font-weight: bold;
}

.world-clock-time {
	font-weight: bold;
}

.world-clocks-city-1 {
	border-bottom: 1px solid #404040;
}

.world-clocks-city-2 {
	border-bottom: 1px solid #404040;
}

.world-clocks-city-3 {
	border-bottom: 1px solid #404040;
}

.world-clocks-city-4 {
	border-bottom: 1px solid #404040;
}

.world-clocks-city-5 {
	border-bottom: 1px solid #404040;
}

.world-clocks-city-6 {
	border-bottom: 1px solid #404040;
}