.row {
	display: flex;
	flex-direction: row;
}

.calendars-container {
	display: flex;
	flex-direction: row;
	background-color: #404040;
	margin-right: 5px;
	border-radius: 10px;
	padding: 10px;
}

.calendar-container {
	background-color: #202020;
	border-radius: 10px;
	margin-right: 5px;
	padding: 10px;
}

.events-container {
	background-color: #202020;
	border-radius: 10px;
	margin-left: 5px;
	padding: 10px;
}

.calendar-table {
	border-collapse: collapse;
}

.calendar-table th {
	width: 14.29%;
	padding: 10px;
}

.calendar-table td {
	font-family: "Consolas", monospace;
	text-align: center;
	width: 14.29%;
	padding: 10px;
}

.calendar-table th {
	border-bottom: 1px solid #ff4000;
}

.calendar-month-and-year {
	font-size: 1.25em;
}

.calendar-today {
	background-color: #ff4000;
	font-weight: bold;
	border-radius: 10px;
}

.calendar-other {
	font-style: italic;
	color: #404040;
}

.weather-container {
	background-color: #404040;
	margin-left: 5px;
	border-radius: 10px;
	padding: 10px;
	display: flex;
	flex-direction: row;
}

.weather-current-container {
	background-color: #202020;
	border-radius: 10px;
	padding: 10px;
	margin-right: 5px;
}

.weather-current-tables-container {
	height: 100%;
	border-collapse: collapse;
}

.weather-current-tables-container td {
	width: 50%;
}

.weather-current-current-location-cell {
	padding-bottom: 5px;
}

.weather-current-location-1-cell {
	padding-top: 5px;
	padding-right: 5px;
}

.weather-current-location-2-cell {
	padding-top: 5px;
	padding-left: 5px;
}

.weather-current-current-location-container {
	background-image: linear-gradient(to bottom, #80bfff, #0000ff);
	border-radius: 10px;
	height: 100%;
}

.weather-current-location-1-container {
	background-image: linear-gradient(to bottom, #bfbfff, #80bfff);
	padding: 10px;
	border-radius: 10px;
	height: 100%;
	display: flex;
	flex-direction: row;
	text-shadow: 0px 0px 10px #000000;
}

.weather-current-location-2-container {
	background-image: linear-gradient(to bottom, #0000ff, #000000);
	padding: 10px;
	border-radius: 10px;
	height: 100%;
	display: flex;
	flex-direction: row;
	text-shadow: 0px 0px 10px #000000;
}

.weather-hourly-container {
	background-color: #202020;
	border-radius: 10px;
	padding: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.weather-daily-container {
	background-color: #202020;
	border-radius: 10px;
	padding: 10px;
	margin-left: 5px;
}