* {
	box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
	margin: 0px;
	padding: 0px;
	background-color: #202020;
	color: #ffffff;
	font-family: "Book Antiqua", serif;
	display: flex;
	flex-direction: column;
}

header {
	background-color: #404040;
	font-family: "Consolas", monospace;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	user-select: none;
}

div.header-logo {
	padding: 10px;
	font-size: 5em;
	color: #ff4000;
	font-weight: bold;
	font-style: italic;
}

div.header-item {
	font-size: 2.5em;
	font-weight: bold;
	padding: 10px;
}

nav {
	background-color: #ff4000;
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	display: flex;
	flex-direction: row;
	user-select: none;
}

nav a {
	text-decoration: none;
	color: inherit;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav a:hover {
	background-color: #ffffff;
	color: #ff4000;
}

main {
	padding: 10px;
}

::selection {
	background-color: #ff4000;
	color: #ffffff;
}